# Environment variables for Predictive Control

# Path to the src directory and common directory
PYTHONPATH=src:../building-intelligence/common/src

# Redis connection info
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=my_redis_password

# Core API service URL
CORE_API_URL=http://localhost:8000

# Logging level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOGLEVEL=INFO
