# Ignore everything in .idea except what is explicitly allowed
.idea/*
!.idea/

# Allow important files and subfolders
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml

# Ignore log files, history, and other specific files
*.log
.history
custom_compose.yaml
databases_compose.yaml
local-dev.env
docker.env
devices.yaml
lnbits.yaml
influxdb_mapping.yaml
custom